*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 0;
    box-sizing: border-box;
    background-color: #A07349;
    color: #fff;
    font-family: 'mavenpro';
    max-width: 1200px;
    margin-top: 0;
    margin-left: 75px;
    margin-bottom: 30px;
    margin-right: 75px;
    padding-top: 15px;
    padding-right: 30px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header{
    position: fixed;
    background-color: #0e010180;
    width: 84vw;
    overflow: hidden;
    margin-top: 25px;
}
#logo{
    width: 120px;
    height: 100px;
    border-radius: 10px;
    display: block;
    padding: 14px 16px;
}
.bolo_background{
    margin-left: 230px;
    border-radius: 20px;
    opacity: 0.6;
    width: 100%;
}
#title{
    flex-direction: column;
    line-height: 10px;
    font-size: 13px;
}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color: #ffffff;
}
a:hover{
    color: #928b75;
    transition: 0.4s all;
}
ul{
    padding: 10px;
}
ul:hover{
    color: #121907;
}
@font-face {
    font-family:'mavenpro' ;
    src: url('../Pictures/Fonts/MavenPro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../Pictures/Fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow';
    src: url('../Pictures/Fonts/BarlowCondensed-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Doses';
    src: url('../Pictures/Fonts/Dosis-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#paragrafo{
    font-family: 'Nunito';
    margin-top: 50px;
    color: #cab499;
}    

h1{
    font-weight: 200;
    color: #63451b;
    display: block;
    margin-top: 0;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.navegacao{
    font-size: 23px;
    margin-right: 125px;
    font-family: 'Nunito';
}
.bolo_background_1{
    display: flex;
    flex-direction: row;
    opacity: 0.6;
    margin-left: 400px;
    border-radius: 20px;
    width: 480px;
    height: 350px;
}
.bolo_background_2{
    width: 60%;
    height: 300px;
    opacity: 0.4;
}
.center{
   
    top: 50%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
.titulo{
    text-align: center;
}
.descricao{
    margin-left: 30%;
}
h2{
    font-size: 50px;
    line-height: 10px;
    font-family: 'Nunito';
    margin-top: 80px;
}
span{
    color: #63451b;
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family:'mavenpro'
}
aside{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
form{
    font-family: Arial, Helvetica, sans-serif;

}
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}
form input, form textarea {
    outline: unset;
    padding: 15px;
    width: 300px;
    border: 1px solid cornflowerblue;
    border-radius: 20px;
}
form input:focus, form textarea:focus{
    background-color: rgb(233, 201, 133);
}
form input[type-submit] {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
#botao{
    padding: 15px;
    
}
.caixa-1{
    font-size: 24px;
    padding-top: 200px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 30px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    margin-top: 35px;
}
.socials a i{
    margin-top: 35px;
    font-size: 1.9rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color:rgba(11, 7, 247, 0.856);
}
.bottom-footer{
    margin-left: 30%;
    font-size: 17px;
}
#santa{
    margin-top: 65px;
    margin-bottom: 35px;
}
.contactos-santa i{
    font-size: 1.6rem;
}
.card-group, .subtitulo, .card, .card-1, .card-2{
    font-family: 'Nunito';
}
.card-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    font-size: 20px;
    margin-top: 50px;
}
.card-1{
    margin-left: 510px;
    justify-content: center;
    font-size: 20px;
    margin-top: 50px;
}
.card-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    font-size: 20px;
    float: left;
    margin-left: 250px;
    margin-top: 50px;
}
.table-sopa, .subtitulo{
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
}
.subtitulo{
    margin: 100px;
}
.table{
    justify-content: center;
    display: flex;
    margin-top: 25px;
    font-size: 18px;
    padding: 20px;
}
th{
    width: auto;
    border-collapse: collapse;
    justify-content: center;
}
td{
    padding: 8px;
    text-align: center;
}

@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 38px;
    }
    form{
        margin: 0 auto;
        width: 100%;
    }
    input{
        align-self: center;
    }
    img{
        display: none;
    }
    ul{
        text-align: center;
    }
}
.row > .column {
    padding: 0 8px;
    margin-left: 40px;
    margin-top: 50px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.row{
    background-color: #fff;
    padding: 5px;
}
h3{
    font-size: 7vw;
    color: #fcfbf88e;
    font-family: 'Doses';
    text-align: center;
}
  .column {
    float: left;
    width: 25%;
    margin: 25px;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  .mySlides {
    display: none;
  }
  .cursor {
    cursor: pointer;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  img {
    margin-bottom: -4px;
  }
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  .demo {
    opacity: 0.6;
  }
  .active,
  .demo:hover {
    opacity: 1;
  }
  img.hover-shadow {
    transition: 0.3s;
  }
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(226, 10, 10, 0.295), 0 6px 20px 0 rgba(167, 6, 6, 0.2);
  }
  .select{
    block-size: 40px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 40px;
  }
  #h3{
    text-align: left;
    padding-left: 40px;
    font-size: 38px;
  }
  #nome{
    margin-left: 8vw;
  }
 .box{
    background-color: rgba(3, 3, 71, 0.795);
    padding: 35px;
    border: solid 10px rgb(90, 90, 235);
    
 }
.inputBox{
    flex-direction: column;
    margin-bottom: 30px;
}
.inputBox{
    padding: 5px;
    width: 300px;
   
    border-radius: 20px;    
    
}
#h4{
    font-size: 28px;
    font-weight: bold;
}
#rowSelection{
    background-color: rgba(3, 3, 71, 0.795);
}
#check-1{
    padding: 35px;
    margin-top: 15px;
}
#resultado{
    padding: 20px;
}
#subP{
    padding-top: 5px;
}
#caixa02 {
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid cadetblue;
}
.Pvitrine{
    color: #0b2231;
    text-align: center;
    font-size: 26px;
    padding-top: 26px;
    text-decoration: underline;
    font-family: 'Doses', Times, serif;
    
}